<h1>Search User Tweets</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag(twitter_index_path, :method => "get", id: "search-form") do %>

      <%= label_tag :username %>
      <%= text_field_tag :username, params[:username], placeholder: "Search Tweets" %>
      <%= hidden_field_tag :last_twit_id, params[:last_twit_id], value: @last_twit_id %>

      <%= submit_tag "Get User Tweets", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>